
@{
    ViewBag.Title = "Branch";
    ViewBag.ManuHead = "Organization Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@section scripts
{
    <script type="text/javascript">
        $("#organizationManu").show();
    </script>
}